/* ACCUEIL */
.page-accueil #container {
    background-color: #ECE2DA;
}

.page-accueil h2 {
    font-size: 30px;
}

/* TITRE ET VISUEL CANETTE */
.accueil-titre {
    padding-top: 80px;
    padding-bottom: 100px;
    max-width: 781px;
    margin: auto;
    /* font-size: 2.25em; */
    font-size: 38px !important;
}

.planty-boisson {
    padding-bottom: 60px;
}

/* ENERGIE DES PLANTES */
.energie-plantes-groupe {
    padding-top: 40px;
    padding-bottom: 60px;
}

.energie-plantes-groupe .wp-block-group__inner-container {
    display: grid;
    row-gap: 40px;
}

.energie-plantes-texte {
    max-width: 490px;
    margin: auto;
}


/* LES GOUTS */

.accueil-gouts-titre {
    padding-top: 50px;
    padding-bottom: 10px;
}

.banniere-gout-texte {
    overflow-wrap: anywhere;
    font-size: 48px;
}

#accueil-bannieres-gouts {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 30px;
}

#accueil-bannieres-gouts .wp-block-group__inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}


#accueil-bannieres-gouts .bannieres-gouts-groupe .wp-block-group__inner-container {
    flex-direction: row;
    flex-wrap: wrap;
}


#accueil-bannieres-gouts .banniere-gout {
    width: 394px;
    height: 263px;
}

.page-accueil #accueil-bannieres-gouts .wp-block-cover,
.page-accueil #accueil-bannieres-gouts .wp-block-cover-image {
    min-height: initial;
}


#accueil-boutton-commande {
    padding-bottom: 80px;
}

#accueil-boutton-commande .wp-element-button {
    width: 198px;
    height: 55px;
    border-radius: 5px;
    background-color: #e0b9b4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#accueil-boutton-commande .wp-element-button:hover {
    background-color: #C02E44;
}



/* AVIS CLIENTS + FOOTER */
#accueil-avis-groupe .wp-block-group__inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 20px;
    padding-top: 80px;
}

.accueil-avis-client {
    row-gap: 11px;
    width: 196px;
}

.page-accueil .canettes-footer {
    background-color: white;
}


/****************************/
/* RESPONSIVE */

@media screen and (max-width: 1024px) {
    #accueil-bannieres-gouts .banniere-gout {
        width: 334px;
        height: 223px;
    }

    .banniere-gout-texte {
        font-size: 38px;
    }

    #accueil-avis-groupe .wp-block-group__inner-container {
        flex-direction: column;
        justify-content: center;
    }

    .accueil-avis-complet {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {

    .accueil-titre,
    .page-accueil h2 {
        font-size: 20px !important;
    }

    .page-accueil h2 {
        padding: 20px 0;
    }

    .page-accueil .energie-plantes-groupe {
        padding-left: 20px;
        padding-right: 20px;
    }

    .energie-plante-texte {
        text-align: justify;
    }

    #accueil-avis-groupe .wp-block-group__inner-container {
        padding: 20px 10px;
    }

    .page-accueil .canettes-footer {
        padding-top: 30px;
    }
}

@media screen and (max-width: 425px) {

    #accueil-bannieres-gouts .banniere-gout {
        width: 197px;
        height: 131px;
    }

    .banniere-gout-texte {
        font-size: 24px;
    }

}