
/* GENERAL */
.page-commander #container {
    background-color: #3B8E46;
    padding-top: 40px;
    padding-bottom: 93px;
}

.page-commander-titre {
    color: white;
    font-size: 38px;
}

.formulaire-commande {
    display: flex;
    flex-direction: column;
    max-width: 860px;
    width: 100%;
    margin: auto;
    color: white;
    margin-top: 70px;
}

.commande-titre {
    font-size: 30px;
    font-weight: 500;
}

.case-boutton-commande .boutton-commande:hover,
.boutton-quantite:hover {
    background-color: #C02E44;
}

.page-commander .wpcf7-not-valid-tip {
    position: absolute;
    color: #8F0000;
    font-weight: 600;
    overflow: visible;
    min-width: 160px;
}

.page-commander .wpcf7-response-output {
    color: white;
    font-weight: 600;
    text-align: center;
}

.page-commander .wpcf7 form.invalid .wpcf7-response-output {
    border-color: #8F0000;
}


/* "VOTRE COMMANDE" */
.votre-commande {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid white;
}

.commande-gouts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 39px;
}

.groupe-commande {
    display: flex;
    flex-direction: column;
}

.quantite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 14px;
}

.quantite-total {
    display: flex;
    flex-direction: row;
}

.choix-quantite {
    height: 56px;
    width: 51px;
    border-radius: 7px 0px 0px 7px;
    border: none;
    text-align: center;
}

.quantite-plus-moins {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DC9F96;
    width: 31px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.quantite-plus,
.quantite-moins {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantite-plus {
    border-bottom: 1px solid white;
}

.boutton-quantite {
    color: white;
    border: none;
    background-color: #E0B9B4;
    width: 100px;
    height: 56px;
    border-radius: 5px;
}

/* "VOS INFORMATIONS - LIVRAISON" */
.informations-livraison {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid white;
    padding-top: 53px;
}

.informations-livraison label {
    display: flex;
    flex-direction: column;
}


.information-livraison-separation {
    border-right: 1px solid white;
}

.informations,
.livraison {
    display: flex;
    flex-direction: column;
    gap: 30px 0px;
}

.informations-livraison .label-form {
    width: 100%;
    width: 380px;
    height: 71px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
    border-radius: 7px;
    border: none;
    margin-top: 13px;
    font-size: 20px;
}

.case-boutton-commande {
    display: flex;
    justify-content: center;
    align-items: center;
}


.case-boutton-commande .boutton-commande {
    width: 198px;
    height: 55px;
    background-color: #E0B9B4;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 15px;
    margin-top: 44px;
}

.case-boutton-commande .wpcf7-spinner {
    display: none;
}


/* MEDIAS QUERIES */

@media only screen and (max-width: 900px) {

    .page-commander {
        width: auto;
    }

    .commande-gouts {
        justify-content: space-evenly;
        gap: 2em;
    }

    .informations-livraison {
        justify-content: space-around;
    }

    .informations-livraison .label-form {
        width: 15em;
    }

}


@media screen and (max-width: 650px) {

    .informations-livraison {
        display: grid;
    }

    .livraison {
        padding-top: 70px;
    }

    .commande-titre {
        font-size: 30px;
        text-align: center;
        font-weight: 500;
    }

    .page-commander .page-commander-titre {
        font-size: 1.5em;
    }

}