

/* HEADER */

#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo { 
    max-width: 200px;
    min-width: 200px;
    width: auto;
    margin-left: 35px;
    height: 100%;
}

.custom-logo {
    width: 100%;
    height: auto;
}

.custom-logo img {
    min-width: 200px;
}


.menu { 
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

#menu {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-navigation-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu a {
    color: black;
    text-decoration: none;
}

.menu a:hover {
    font-weight: 700;
}

.menu li {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu li a {
    text-align: center;
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}


.menu-item-57 {
    background-color: #DC9F96;
}

.menu-item-57 a {
    color: white;
    padding: 0 60px !important;
}

/* @media screen and (max-width: 768px) {

    #header {
        flex-direction: column;
        height: 100px;
    }

    .logo {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #menu {
        width: 100%;
        justify-content: space-evenly;
    }

    .menu {
        flex-wrap: wrap;
    }
} */
