/* Votre code CSS existant */

/* Styles pour le menu principal */
#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo {
    max-width: 200px;
    min-width: 200px;
    width: auto;
    margin-left: 35px;
    height: 100%;
}

.custom-logo {
    width: 100%;
    height: auto;
}

.custom-logo img {
    min-width: 200px;
}

.menu {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

#menu {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-navigation-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu a {
    color: black;
    text-decoration: none;
}

.menu a:hover {
    font-weight: 700;
}

.menu li {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu li a {
    text-align: center;
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.menu-item-57 {
    background-color: #DC9F96;
}

.menu-item-57 a {
    color: white;
    padding: 0 60px !important;
}

/* Cacher le menu burger sur les écrans larges */
#menu-toggle {
    display: none;
}

.menu-label {
    display: none;
}

/* Styles pour le menu responsive */
@media screen and (max-width: 1024px) {

    /* Cacher le menu principal */
    #menu {
        display: none;
    }

    /* Afficher le menu burger */
    /* #menu-toggle {
        display: flex;
        align-items: center;
        cursor: pointer;
    } */

    /* Afficher le texte "Menu" */
    .menu-label {
        display: block;
    }
    .menu-label {
        font-size: 20px; /* Taille de l'icône */
        color: #000; /* Couleur de l'icône */
      }

    /* Checkbox à cot */

    /* Styles pour le texte du menu burger */
    #menu-toggle .menu-label {
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
    }

    /* Styles pour le menu déroulant */
    #menu-toggle:checked~#menu {
        display: block;
    }
}