/* Votre code CSS existant */

/* Styles pour le menu principal */

#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo {
    max-width: 200px;
    min-width: 200px;
    width: auto;
    margin-left: 35px;
    height: 100%;
}

.custom-logo {
    width: 100%;
    height: auto;
}

.custom-logo img {
    min-width: 200px;
}

.menu {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

#menu {
    height: 100%;
    display: flex;
    align-items: center;
}

#header .menu-navigation-container {
    height: 100%;
    display: flex;
    align-items: center;
}

#header .menu a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

#header .menu a:hover {
    font-weight: 700;
    font-size: 13px;
    position: relative;
    left: 3px;
    bottom: 3px;  
}

#header .menu li {
    height: 100%;
    display: flex;
    align-items: center;
}

#header .menu li a {
    text-align: center;
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

#header .menu li:last-child {
    background-color: #DC9F96;
}

#header .menu li:last-child a {
    color: white;
    font-weight: 700;
    padding: 0 60px;
}

#header .menu li:last-child a:hover {
    font-size: 16px;
    background-color: #C02E44;
    position:inherit;
}


/* ******************************************* */
/* RESPONSIVE UNIQUEMENT */
/* Cacher le menu burger sur les écrans larges */
#header #menu-toggle {
    display: none;
}

#header .menu-label {
    display: none;
}


@media screen and (max-width: 1024px) {

    /* Cacher le menu principal */
    #header #menu {
        display: none;
    }

    /* Afficher le menu burger via l'icône */
    #header .menu-label {
        display: block;
        font-size: 20px;
        color: #000;
        margin-right: 20px;
    }

    #header {
        height: fit-content;
        row-gap: 1em;
        flex-wrap: wrap;
        line-height: 80px;
    }

    #header .menu {
        width: 100%;
    }

    #header .menu li {
        width: 100%;
        justify-content: center;
        line-height: 5em;
    }

    #header .menu li a {
        display: block;
        width: 100%;
        font-size: 1.25em;
        padding: none;
        font-weight: 400;
    }


    #header .menu li a:hover {
        background-color: #C02E44;
        font-size: 1.25em;
        position: static;
        font-weight: 400;
    }


#header .menu li:last-child a {
    padding: 0px;
    font-weight: 400;
}
    #header .menu li:nth-child(2n) {
    background-color: white;
        /* Couleur de fond pour les éléments pairs */
    }

    #header .menu li:nth-child(2n+1) {
        background-color: #DC9F96;
        /* Couleur de fond pour les éléments impairs */
    }

    #header .menu li:nth-child(2n) a {
        color: #000000;
        /* Couleur de texte pour les liens dans les éléments pairs */
    }

    #header .menu li:nth-child(2n+1) a {
        color: white;
        /* Couleur de texte pour les liens dans les éléments impairs */
    }

    /* Styles pour le menu déroulant */
    #header #menu-toggle:checked~#menu {
        display: block;
        width: 100%;
    }

    #header .menu {
        flex-direction: column;
        height: max-content;
    }

}