/* NOUS RENCONTRER/PRESENTATION */


.nous-rencontrer-titre {
    position: relative;
    z-index: 1;
}

.nous-rencontrer-paragraphe {
    max-width: 669px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
}

.nous-rencontrer-titre-image {
    width: 160px;
    position: relative;
    top: 71px;
    left: 141px;
    z-index: 0;
}

/* L'EQUIPE */
.planty-equipe-titre {
    background-color: white;
}

.planty-equipe-membres {
    background-color: white;
}

.planty-equipe-membres .wp-block-group__inner-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 52px;
    padding-bottom: 80px;
    z-index: 1;
}

.groupe-planty-equipe-image .wp-block-group__inner-container {
    position: relative;
}

.planty-equipe-image {
    position: absolute;
    bottom: -10px;
    right: 30px;
    z-index: 0;
}

/* FORMULAIRE DE CONTACT */

.formulaire-contact {
    display: flex;
    flex-direction: column;
    max-width: 860px;
    width: 100%;
    margin: auto;
    color: white;
    position: relative;
    z-index: 1;
}

.votre-message {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contacter-titre {
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    color: black;
}

.informations-contacter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 53px;
    margin: auto;
}

.informations-contacter label {
    display: flex;
    flex-direction: column;
}

.contacter {
    display: flex;
    flex-direction: column;
    gap: 30px 0px;
}

.informations-contacter .label-form {
    max-width: 380px;
    height: 71px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
    border-radius: 7px;
    border: none;
    margin-top: 13px;
    font-size: 20px;
}

.informations-contacter .label-form-area-contacter {
    max-width: 380px;
    height: 71px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
    border-radius: 7px;
    border: none;
    margin-top: 13px;
    font-size: 20px;
    height: 237px;
}

.boutton-message {
    width: 198px;
    height: 55px;
    background-color: #E0B9B4;
    border-radius: 5px !important;
    border: none;
    color: white;
    font-size: 15px;
    margin-top: 44px;
    margin: 0 auto;
    display: block;
}

.boutton-message:hover {
    background-color: #C02E44;
}

.label-contacter {
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.groupe-formulaire-contact-image .wp-block-group__inner-container {
    position: relative;
    height: 0px;
}

.formulaire-contact-image {
    z-index: 0;
    position: relative;
    bottom: 240px;
    left: -185px
}



/* RESPONSIVE UNIQUEMENT */

@media screen and (max-width: 1200px) {
    .nous-rencontrer-titre-image {
        display: none;
    }

    .nous-rencontrer-titre {
        padding-top: 165px;
    }
}

@media screen and (max-width: 768px) {

    .planty-equipe-membres .wp-block-group__inner-container {
        flex-direction: column;
        row-gap: 40px;
        padding-bottom: 40px;
    }

    .formulaire-contact-image {
        display: none;
    }

    .planty-equipe-image {
        display: none;
    }
}


@media screen and (max-width: 475px) {
    .nous-rencontrer-titre {
        font-size: 32px !important;
        text-align: center;

    }
}

@media screen and (max-width: 425px) {

    /* p.text-contacter {
        margin: 12px 35px;
    } */

    .nous-rencontrer-titre {
        font-size: 25px !important;
        text-align: center;

    }


    .formulaire-contact .label-form {
        width: 300px;
    }

    .formulaire-contact .label-form-area-contacter {
        width: 300px;
    }

}